<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="/listings"><i class="fa-regular fa-compass"></i></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link fs-5" href="/listings">Explore</a>

        </div>
        <div  class="navbar-nav ms-auto search-div">
          <form class="d-flex" role="search" action="/listings" method="GET">
            <input class="form-control search-bar me-2" type="search" name="query" placeholder="Search Destination" aria-label="Search">
            <button class="btn btn-outline-success btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i> Search
            </button>
          </form>
          
      </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link fs-5" href="/listings/new">Airbnb your home</a>
          <%if(!curUser){%>
          <a class="nav-link fs-5" aria-current="page" href="signup">Sign up<a>
          <a class="nav-link fs-5" href="/login">Log in</a>
          <%}%>
          <%if(curUser){%>
          <a class="nav-link fs-5" href="/logout">Log out</a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>